<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/src/js/main.js"></script>
    <script src="/src/js/event/function.js"></script>

    <link rel="stylesheet" type="text/css" href="/src/css/main.css" />
</head>

<body>

    <div id="View-ERR-Body">
        <div class="sort-hor">
            <button id="Btn-ERR-Redirect" class="btn error">이전으로</button>
            <button id="Btn-ERR-Mv2Main" class="btn error">메인으로</button>
        </div>
    </div>
</body>

</html>