<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/src/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/src/css/main.css" />
</head>
<body>
    <form method="post" action="/usr/lgn">
        <input type="text" maxlength="20" name="id" />
        <input type="password" maxlength="30" name="pw" />
        <button type="submit">LOGIN</button>
    </form>
    <a href="/">Move to Main</a>
    <a href="/login">Move to Login Page</a>

</body>
</html>