<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${main?.title ?: 'ERROR'}"></title>

    <meta charset="UTF-8">
    <meta value="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/src/js/main.js"></script>
    <script src="/src/js/page/main.js"></script>

    <link rel="stylesheet" type="text/css" href="/src/css/main.css" />

    <link rel="stylesheet" type="text/css" href="/src/css/page/main.css" />
</head>

<body id="System-Body" class="">
</body>
    <div id="View-Main-Header">

    </div>
    <div id="View-Main-Body">
        
    </div>
</html>