<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/src/js/main.js"></script>
</head>

<body>
<h1>REGISTER FORM</h1>
<form id="Form" method="post" action="/api/users">
    <p id="ERROR"></p>
    <button type="submit">REQUEST</button>
</form>
<button onclick="window.location.href='/'">Main Page</button>
<script>
    const form = document.getElementById("Form").addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = {
            title: "TEST",
            content: "La campabeela",
            status: 'C',
            uid: 0
        }
        fetch("/api/posts", {
            method: "POST",
            credentials: 'include',
            body: JSON.stringify(formData),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data['status'] === "success") {
                    window.location.href='/';
                }
                else {
                    document.getElementById("ERROR").innerHTML = data["message"];
                }
            })
            .catch(error => {
                console.error(error);
            });
    })
</script>

</body>

</html>