<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head>
    <title th:text="${@enviroment.getProperty('app.title')}"></title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/src/css/main.css" />

    <script src="/src/js/main.js"></script>
</head>

<body id="${page}">
    <th:block th:replace="~{fragment/header :: header}"></th:block>
    <th:block th:replace="~{fragment/footer :: footer}"></th:block>
</body>

</html>