<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="header">
    <header id="header" class="header" style="width: calc(100vw - 2%); position: fixed; top: 0; left: 0;">
        <a href="/" class="header-title">Lost Pets Website</a>
        <nav class="nav-items">
            <a href="/report/0">신고</a>
            <a href="/adopt/0">입양</a>
            <a href="/education/0">교육</a>
            <th:block th:if="${user != null}">
                <a class="button" onclick="js: Logout()">Log Out</a>
            </th:block>
            <th:block th:unless="${user != null}">
                <a class="button" href="/login">Log In</a>
            </th:block>
        </nav>
    </header>
    <script defer src="/src/js/ajax/account/logout.js"></script>
</th:block>

</body>

</html>
