table {
    width: calc(90vw - 2rem);
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #000 !important;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1rem;
    tr {
        border-bottom: 1px solid #000;
        &:last-child {
            border-bottom: none;
        }
    }
    th, td {
        padding: 0.5rem;
        text-align: left;
        border-right: 1px dotted #000;
        &:first-child {
            text-align: center;
        }
        &:last-child {
            text-align: right;
            border-right: none;
        }
    }
    thead {
        width: 100%;
        background-color: #AAA;
    }
    tbody {
        background-color: #EEE;
    }
}