<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragments="SignIn">
        <header>
            <button id="Btn-Head-Logo"><img src="/src/img/title.png" /></button>

            <div id="Layout-Head-Right">
                <button id="Btn-Head-Board">Board</button>
                <button id="Btn-Head-About">About</button>
                <button id="Btn-Head-Info">Info</button>
                <button id="Btn-Head-Login">
                    <img src="/src/img/icon/memeber.svg" />
                    Log In
                </button>
            </div>
        </header>
    </div>
    <div th:fragments="SignOut">
        <header>
            <button id="Btn-Head-Logo"><img src="/src/img/title.png" /></button>

            <div id="Layout-Head-Right">
                <button id="Btn-Head-Board">Board</button>
                <button id="Btn-Head-About">About</button>
                <button id="Btn-Head-Info">Info</button>
                <button id="Btn-Head-Login">
                    <img src="/src/img/icon/memeber.svg" />
                    Sign Out
                </button>
            </div>
        </header>
    </div>
</body>
</html>