<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adoption</title>
    <link rel="stylesheet" type="text/css" th:href="@{/src/css/list.css}" />
    <script defer src="/src/js/list.js"></script>
    <script defer src="/src/js/ajax/account/[DELETE]-logout.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <th:block th:replace="~{fragment/header :: header}"></th:block>

      <!-- Banner -->
      <th:block th:replace="~{fragment/banner :: banner}"></th:block>

      <!-- Bulletin Table -->
      <main>
        <section class="bulletin-header">
          <h2>Bulletin</h2>
          <button class="write-button" onclick="redirectToWrite()">Write</button>
        </section>
        <table>
          <thead>
            <tr>
              <th>TITLE</th>
              <th>VIEW</th>
              <th>DATE</th>
              <th>COMMENT</th>
            </tr>
          </thead>
          <th:block th:each="post : ${posts}">
            <tbody class="builtin-list">
            </tbody>
          </th:block>
        </table>
        <section>
          <!-- 게시판 돌아다니는 버튼 작성-->
            <th:block th:each="index : ${#numbers.sequence(1, page)}">
              <button class="page-button" th:text="${index}" th:onclick="'movePage(' + ${index} + ')'" th:if="${index} == ${currentPage}"></button>
            </th:block>
        </section>
    </main>

      <!-- Footer -->
      <th:block th:replace="~{fragment/footer :: footer}"></th:block>    
  </body>
</html>
