<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title th:text="${@environment.getProperty('project.title')}"></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/src/css/main.css" />
    <noscript>
      <link rel="stylesheet" href="/src/css/noscript.css" />
    </noscript>
  </head>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <span class="logo"><img src="/src/css/images/logo.svg" alt="" /></span>
        <h1>유실 동물 웹사이트</h1>
        <p>오픈소스 개발 프로젝트 4조</p>
      </header>

      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="#intro" class="active">About</a></li>
          <li><a href="#first">신고</a></li>
          <li><a href="#second">입양</a></li>
          <li><a href="#third">교육</a></li>
          <li>
            <th:block th:if="${user != null}">
              <a
                href="/login"
                id="getStartedButton"
                class="button"
                style="color: black !important"
              >
                Login
              </a>
            </th:block>
            <th:block th:unless="${user != null}">
              <a
                href="/ami"
                id="Button-Header-UserInfo"
                class="button"
                style="color: black !important"
                >User Info</a
              >
            </th:block>
          </li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <th:block th:if="${user != null}">
          <div th:text="${user.id}"></div>
          <div th:text="${user.name}"></div>
          <div th:text="${user.mail}"></div>
          <div th:text="${user.sn}"></div>
        </th:block>
        <!-- Introduction -->
        <section id="intro" class="main">
          <div class="spotlight">
            <div class="content">
              <header class="major">
                <h2>
                  Website for reporting and protection of abandoned/puppets
                </h2>
              </header>
              <p>
                "유기/반려 동물 신고 및 보호를 위한 웹페이지"<br />
                유기 동물을 찾는 사람은 많지만, 찾아주는 사람은 적습니다.<br />
                이 웹페이지는 사용자 친화적이며 접근성이 높은 플랫폼으로,<br />
                지역적인 특성을 추가해 지역적인 동물 보호, 동물 찾기 및 입양을
                돕고<br />
                잃어버린 애완동물부터 유기동물까지 다양한 지역에서의 검색을 돕기
                위한 웹페이지입니다.
              </p>
            </div>

            <span class="image"
              ><img src="/src/css/images/로고.png" alt=""
            /></span>
          </div>
        </section>

        <!-- Board Section -->
        <!-- First Section -->
        <section id="first" class="main special">
          <header class="major">
            <h2>신고 및 확인</h2>
          </header>
          <ul class="features">
            <li>
              <span class="icon solid major style1 fa-code"></span>
              <h3>유기 동물 위치 신고 및 확인,<br />TNR 고양이 신고</h3>
              <p>
                유기 동물 위치를 신고하거나 확인하고, 중성화되지 않은 고양이를
                신고하는 게시판입니다.
              </p>
            </li>
          </ul>
          <footer class="major">
            <ul class="actions special">
              <li><a href="first.html" class="button">Learn More</a></li>
            </ul>
          </footer>
        </section>

        <!-- Second Section -->
        <section id="second" class="main special">
          <header class="major">
            <h2>입양 가족 찾기</h2>
          </header>
          <ul class="features">
            <li>
              <span class="icon solid major style1 fa-code"></span>
              <h3>입양 가족 찾기 및 후기</h3>
              <p>주인 없는 동물들의 입양 및 지원을 돕는 게시판입니다.</p>
            </li>
          </ul>
          <footer class="major">
            <ul class="actions special">
              <li><a href="second.html" class="button">Learn More</a></li>
            </ul>
          </footer>
        </section>

        <!--Third Section-->
        <section id="third" class="main special">
          <header class="major">
            <h2>교육 자료</h2>
          </header>
          <ul class="features">
            <li>
              <span class="icon solid major style1 fa-code"></span>
              <h3>교육 자료 게시판</h3>
              <p>다양한 목적으로서의 동물 교육 자료를 모아놓은 게시판입니다.</p>
            </li>
          </ul>
          <footer class="major">
            <ul class="actions special">
              <li><a href="third.html" class="button">Learn More</a></li>
            </ul>
          </footer>
        </section>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <section>
          <h2>Information</h2>
          <p>
            이 사이트는 유기/반려 동물 신고 및 보호를 목적으로 만들어졌습니다.
          </p>
        </section>
        <section>
          <h2>Contact</h2>
          <dl class="alt">
            <dt>Course</dt>
            <dd>Open-Source Development Project, Team 4</dd>
            <dt>Team</dt>
            <dd>
              Front-end(김다민, 이예솔, 이예호) Back-end(김민성, 박상인, 한윤수)
              DB(한윤수)
            </dd>
            <dt>Git</dt>
            <dd>
              <a href="https://github.com/DireRaven22075/opensource-project"
                >TEAM_4</a
              >
            </dd>
          </dl>
        </section>
        <p class="copyright">
          &copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
