<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Login Page</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="stylesheet" type="text/css" href="/src/css/login.css" />

  <script defer src="/src/js/ajax/login.js"></script>
</head>

<body id="Page-Login" class="login-container">
    <form id="Form-Login" class="login-box">
      <h1>Log In</h1>
      <label for="id">ID</label>
      <input type="text" id="id" name="id" placeholder="Enter your ID" />

      <label for="password">Password</label>
      <input type="password" id="password" name="pw" placeholder="Enter your Password" />

      <button type="submit" class="btn">Sign In</button>
      <button type="button" class="btn secondary" onclick="window.location.href='/register'">
        Make Account
      </button>
      <button type="button" class="btn home" onclick="window.location.href='/'">
        Home
      </button>
    </form>
</body>