<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/src/css/signup.css" />
  </head>
  <body>
    <div class="signup-container">
      <div class="signup-box">
        <h1>Sign Up</h1>
        <form>
          <label for="username">ID</label>
          <input type="text" id="username" placeholder="Enter your ID" />

          <label for="name">Name</label>
          <input type="text" id="name" placeholder="Enter your name" />

          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Enter your email" />

          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            placeholder="Enter your password"
          />

          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            placeholder="Re-enter your password"
          />

          <button type="submit" class="btn">Sign Up</button>
          <script src="/src/js/makeaccount.js"></script>
        </form>
        <button
          type="button"
          onclick="window.location.href='/'"
          class="btn home"
        >
          Home
        </button>
      </div>
    </div>
  </body>
</html>
