<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/src/css/signup.css" />
    <script defer src="/src/js/ajax/account/register.js"></script>
  </head>
  <body class="signup-container">
    <form id="Form-Register" class="signup-box">
      <h1>Sign Up</h1>
      <label for="username">ID *</label>
      <input type="text" id="username" required name="id" placeholder="Enter your ID" />

      <label for="name">Name * </label>
      <input type="text" id="name" required name="name" placeholder="Enter your name" />

      <label for="email">Email * </label>
      <input
        type="email"
        id="email" required
        name="mail"
        placeholder="Enter your email"
      />

      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        required
        name="pw"
        placeholder="Enter your password"
      />

      <label for="confirm-password">Confirm Password</label>
      <input
        id="confirm-password"
        type="password" required
        name="pw-confirm"
        placeholder="Re-enter your password"
      />

      <button type="submit" class="btn">Sign Up</button>
      <button type="button" onclick="window.location.href='/'" class="btn home">
        Home
      </button>
    </form>
  </body>
</html>
