<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/src/css/signup.css" />
  </head>
  <body>
    <div class="signup-container">
      <div class="signup-box">
        <h1>Sign Up</h1>
        <form>
          <label for="username">ID</label>
          <input type="text" id="username" placeholder="Enter your ID" />

          <label for="name">Name</label>
          <input type="text" id="name" placeholder="Enter your name" />

          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Enter your email" />

          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            placeholder="Enter your password"
          />

          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            placeholder="Re-enter your password"
          />

          <button type="submit" class="btn">Sign Up</button>
          <script>
            document
              .querySelector(".signup-box form")
              .addEventListener("submit", function (event) {
                event.preventDefault();
                const username = document.getElementById("username").value;
                const name = document.getElementById("name").value;
                const email = document.getElementById("email").value;
                const password = document.getElementById("password").value;
                const confirmPassword =
                  document.getElementById("confirm-password").value;

                if (username && name && email && password && confirmPassword) {
                  if (password === confirmPassword) {
                    alert("회원가입 되었습니다.");
                  } else {
                    alert("Passwords do not match.");
                  }
                } else {
                  alert("All fields are required.");
                }
              });
          </script>
        </form>
        <button type="button" class="btn home">Home</button>
        <script>
          document
            .querySelector(".btn.home")
            .addEventListener("click", function () {
              window.location.href = "index.html";
            });
        </script>
      </div>
    </div>
  </body>
</html>
