<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report</title>
    <link rel="stylesheet" type="text/css" href="/src/css/list.css" />
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <div class="header">
        <a href="/" class="header-title">Lost Pets Website</a>
        <nav class="nav-items">
          <a href="/report">신고</a>
          <a href="/adopt">입양</a>
          <a href="/education">교육</a>
          <a class="button" onclick="logout()">Log Out</a>
        </nav>
      </div>

      <!-- Banner -->
      <div class="banner">
        <div class="banner-text">
          <h1>Report</h1>
          <p>Please post missing or found animals.</p>
        </div>
      </div>

      <!-- Bulletin Table -->
      <div class="bulletin-header">
        <h2>Bulletin</h2>
        <button
          class="write-button"
          id="writeButton"
          th:data-board-id="${boardId}"
          onclick="redirectToWrite()"
        >
          Write
        </button>
      </div>
      <script src="/src/js/list.js"></script>
      <table>
        <thead>
          <tr>
            <th>TITLE</th>
            <th>VIEW</th>
            <th>DATE</th>
            <th>COMMENT</th>
          </tr>
        </thead>
        <tbody id="bulletin-list">
          <!-- 게시글 목록은 JavaScript로 동적 추가 -->
        </tbody>
      </table>
    </div>
  </body>
</html>
