.layout-flex {
    display: flex;
    &.row { flex-direction: row; }
    &.column { flex-direction: column; }
    &.top-left { justify-content: flex-start; align-items: flex-start; }
    &.top-center { justify-content: center; align-items: flex-start; }
    &.top-right { justify-content: flex-end; align-items: flex-start; }
    &.center-left { justify-content: flex-start; align-items: center; }
    &.centeral { justify-content: center; align-items: center; }
    &.center-right { justify-content: flex-end; align-items: center; }
    &.bottom-left { justify-content: flex-start; align-items: flex-end; }
    &.bottom-center { justify-content: center; align-items: flex-end; }
    &.bottom-right { justify-content: flex-end; align-items: flex-end; }
}