<!DOCTYPE html>
<html lang="ko" xmlns:th="https://thymeleaf.org">

<head>
    <title th:text="${@environment.getProperty('app.title')}"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta charset="UTF-8" />

    <link rel="stylesheet" type="text/css" href="/src/css/main.css" />

    <script src="/src/js/main.js"></script>
</head>

<body>
    <th:block th:replace="~{fragment/header :: header}"></th:block>

    <th:block th:replace="~{fragment/footer :: footer}"></th:block>
</body>

</html>