<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>유실 동물 웹사이트</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/src/css/main.css" />
    <style>
        .main-temp {
            width: calc(100% - 20vw);
            padding: 2rem 3rem;
            h3 {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }
            a {
                cursor: pointer;
                color: black;
                padding: 0.5rem 1rem;
                border: 1px solid black;
                &:hover {
                    color: #007bff;
                }
            }
            .t {
                color: #007bff;
                margin-top: 3rem;
                margin-bottom: 1rem;
            }
        }
        #text-scroll {
            bottom: 1rem;
            position: fixed;
            width: 100vw;
            left: 0;
            text-align: center;
            font-size: 1.25rem;
            font-weight: lighter;
            z-index: 50;
            transition: opacity 0.2s;
            opacity: 1;

            &.trigger {
                opacity: 0;
            }
        }
    </style>
    <script defer src="/src/js/api/auth/logout.js"></script>
</head>

<body id="body" class="main-page">
    <div th:replace="~{fragment/header :: main}"></div>
    <script>
        document.addEventListener(
            "scroll",
            () => {
                if (window.scrollY > header.offsetTop) {
                    document.querySelector("#text-scroll").classList.add("trigger");
                    header.classList.add("trigger");
                } else {
                    document.querySelector("#text-scroll").classList.remove("trigger");
                    header.classList.remove("trigger");
                }
            }
        );
    </script>
    <p id="text-scroll">Scroll down to see more..</p>

    <article id="banner" class="main-banner">
        <h2 class="typewriter text banner-title">유실 동물 웹사이트</h2>
        <p class="text banner-subtitle">
            “Website for reporting and protection of abandoned/puppets”
        </p>
        <p class="text banner-text">
            유기 동물을 찾는 사람은 많지만, 찾아주는 사람은 적습니다.
        </p>
        <p class="text banner-text">
            이 웹페이지는 사용자 친화적이며 접근성이 높은 플랫폼으로,
        </p>
        <p class="text banner-text">
            지역적인 특성을 추가해 지역적인 동물 보호, 동물 찾기 및 입양을 돕기 위한 웹페이지입니다.
        </p>
    </article>

    <!-- Main Contents -->
    <main id="root" class="main-wrapper">
        <section id="contents" class="main-contents">
            <article class="main-content">
                <div class="header"></div>
                <h2 class="text main-title">게시판 소개</h2>
                <div class="container main-board-describe">

                </div>
                <div
                    style="width: 100%; margin-top: 3rem; display: flex; flex-direction: column; align-items: center; justify-content: space-around;">

                    <div class="board-item">
                        <img src="/src/img/icon/board/adopt.jpg" alt="Adoption" class="board-image">
                        <div class="main-temp">
                            <h3>입양 게시판</h3>
                            <p>유실된 동물들이 새로운 가정을 찾을 수 있도록 돕는 공간입니다. <br/> 입양을 원하는 분들과 유실 동물 보호자들이 안전하고 사랑이 넘치는 가정을 만날 수 있도록 지원합니다. 반려동물을 입양하고자 하는 분들은 이 게시판을 통해 입양 가능한 동물들의 정보를 확인하고, 입양 절차에 대해 안내받을 수 있습니다.</p>
                            <p class="t">허위 사실로 작성된 게시글은 삭제 처리되며, 반복적으로 허위사실을 작성하는 사용자는 이용 제제를 당할 수 있습니다.</p>
                            <br />
                            <a href="/boards/0">입양 게시판 이동</a>
                        </div>
                    </div>

                    <div class="item board-item">
                        <img src="/src/img/icon/board/report.jpg" class="board-image">
                        <div class="main-temp">
                            <h3>신고 게시판</h3>
                            <p>길을 잃은 반려동물을 찾거나 유실된 동물을 발견한 경우 신고하는 공간입니다. <br/>유실 동물을 발견하거나 자신의 반려동물이 사라졌을 때, 이곳에 정보를 게시하여 빠르게 주인을 찾고 동물을 안전하게 돌려보낼 수 있도록 도와주세요.</p>
                            <p class="t">허위 사실로 작성된 게시글은 삭제 처리되며, 반복적으로 허위사실을 작성하는 사용자는 이용 제제를 당할 수 있습니다.</p>
                            <br />
                            <a href="/boards/1">신고 게시판 이동</a>
                        </div>
                    </div>

                    <div class="board-item">
                        <img src="/src/img/icon/board/education.jpg" alt="Education" class="board-image">
                        <div class="main-temp">
                            <h3>교육 게시판</h3>
                            <p>유실된 동물에 관한 다양한 정보와 자료를 공유하는 공간입니다.<br/> 길 잃은 반려동물을 찾고자 하는 보호자와 동물 구조에 관심 있는 분들이 유용한 정보를 서로 나누는 장소입니다. 여기서는 유실 동물의 발견 정보, 신고, 동물 보호소와 관련된 공지사항 등을 함께 공유할 수 있습니다.</p>

                            <p class="t">허위 사실로 작성된 게시글은 삭제 처리되며, 반복적으로 허위사실을 작성하는 사용자는 이용 제제를 당할 수 있습니다.</p>
                            <br />

                            <a href="/boards/2">교육 게시판 이동</a>
                        </div>
                    </div>
                </div>
            </article>
            <article class="main-content">
                <div class="header"></div>
                <h2 class="text main-title">유실 동물 관련 기관</h2>

                <div
                    style="width: 100%; margin-top: 3rem; display: flex; flex-direction: row; align-items: center; justify-content: space-around;">
                    <div class="btn main-center"
                        onclick="window.open('https://map.naver.com/p/entry/place/79591739?c=15.00,0,0,3,dh&placePath=/home')">
                        <img src="/src/img/icon/center/center1.png" />
                        <div class="hover">
                            <h5>반려동물보호센터</h5>
                            <p>click to move on</p>
                        </div>
                    </div>

                    <div class="btn main-center" onclick="window.open('https://www.karama.or.kr/')">
                        <img src="/src/img/icon/center/center2.png" />
                        <div class="hover">
                            <h5>유기동물구조센터</h5>
                            <p>click to move on</p>
                        </div>
                    </div>

                    <div class="btn main-center" onclick="window.open('https://www.daejeon.go.kr/ani/index.do')">
                        <img src="/src/img/icon/center/center3.png" />
                        <div class="hover">
                            <h5>대전반려동물센터</h5>
                            <p>click to move on</p>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>

    <!-- FOOTER -->
    <div th:replace="~{fragment/footer :: footer}"></div>
</body>

</html>